<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>G̷̲̰᷊̤͇͊Ǐ̶̫̲̦̃͠F̥̫͖̏̓͌͡ G͔̭̠͒̈͜͠Î͓͚̦͙᷾ͦF̰̬̩͑̎ͦ̿ Ġ̡̣̥̍́̃I͌᷇ͫͬͭ̒͟F̢᷿̂̈᷄̔͝ G̵̼͉͇͙͎̕I̯̺̜̭ͧ᷁͗F̫̥͎͔͎ͬ̈ G͓̳̳͋̎͂͟Ī̬̋͑ͥ͟͟F̴͍̼͇̉͘͞</title>
    <meta name="description" content="GIF Gallery - (c) ungltchme || Aaron Jablonski">
    <link rel="stylesheet" type="text/css" href="custom.css">
    <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
    <script src="libs/jquery.linq.min.js"></script>
      
    <script src="https://cdn.rawgit.com/ngokevin/aframe-animation-component/master/dist/aframe-animation-component.min.js"></script>
    <script src="https://cdn.rawgit.com/ngokevin/kframe/master/components/layout/dist/aframe-layout-component.min.js"></script>

    <script src="https://cdn.rawgit.com/mayognaise/aframe-gif-shader/master/dist/aframe-gif-shader.min.js"></script>
    <script src="https://cdn.rawgit.com/mayognaise/aframe-gif-component/master/dist/aframe-gif-component.min.js"></script>
      
    <script src="https://cdn.rawgit.com/ngokevin/kframe/master/components/sun-sky/dist/aframe-sun-sky.min.js"></script>

    <script src="components/set-image.js"></script>
    <script src="components/aframe-asset-on-demand-component.js"></script>
    <script src="components/aframe-template-component.js"></script>
    <script src="components/scene-controller.js"></script>
    <script src="components/gif-box.js"></script>
    <script src="components/look-at.js"></script>
    <script src="components/tween-js-controller.js"></script>
    <script src="components/follow-cam.js"></script>
    <script src="components/tween-cam.js"></script>
    <script src="components/scale-by-camdistance.js"></script>
    <script src="components/img-resizer.js"></script>
    <script src="components/hotspot.js"></script>
    <script src="components/hotspot-parent.js"></script>

      <script>

        $(document).ready(function () {

            $(document).keydown(function(e) {
                if(e.keyCode==66){
                    // b pressed
                        $.customComponents.sceneController.setSkyMode(!$.customComponents.crazyBG);
                }
            });

        });

      </script>

      <script id="floor-planes" type="text/x-nunjucks-template">
          <a-entity follow-cam>
              {% for x in range(0, columns) %}
              {% for z in range(0, columns) %}
              <a-plane color="#1b2129" height="{{planewidth}}" width="{{planewidth}}" rotation="-90 0 0" position="{{x * planewidth - columns/2 * planewidth}} -9 {{z * planewidth - columns/2 * planewidth}}"></a-plane>
              {% endfor %}
              {% endfor %}
          </a-entity>
      </script>

  </head>
  <body>
  <a-scene tween-js-controller scene-controller>
      <a-assets>
      </a-assets>

      <a-sky color="black" visible="false"></a-sky>
      <a-sun-sky material="reileigh:0; sunPosition:0 4 -1"></a-sun-sky>

      <a-entity template="src:#floor-planes" data-planewidth="3" data-columns="30"></a-entity>

      <a-entity camera="fov:100" look-controls wasd-controls>
          <a-cursor id="cursor"
                    fuse-timeout="1500"
                    animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
                    animation__fusing="property: scale; startEvents: fusing; from: 1 1 1; to: 1.6 1.6 1.6; dur: 1500"
                    event-set__1="_event: mouseenter; color: springgreen"
                    event-set__2="_event: mouseleave; color: black"
                    raycaster="objects: .link"
          ></a-cursor>
      </a-entity>

  </a-scene>

  <script id="gif-box-cluster" type="text/html">
      <a-entity>

          <!-- Forward-->
          <a-entity template="src:#simple-box"
                    data-basewidth="10"
                    data-boxdepth="${boxdepth}"
                    rotation="0 180 0"
                    position="0 ${height} -${depth}"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="10"
                    data-boxdepth="${boxdepth}"
                    rotation="0 180 0"
                    position="0 -${height} -${depth}"></a-entity>

          <!-- Backward -->
          <a-entity template="src:#simple-box"
                    data-basewidth="10"
                    data-boxdepth="${boxdepth}"
                    position="0 ${height} ${depth}"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="10"
                    data-boxdepth="${boxdepth}"
                    position="0 -${height} ${depth}"></a-entity>

          <!-- Right -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 90 0"
                    position="${width} 0 -${sidedepth}"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 90 0"
                    position="${width} 0 ${sidedepth}"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 90 0"
                    position="${width} ${height} 0"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 90 0"
                    position="${width} -${height} 0"></a-entity>

          <!-- Left -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 -90 0"
                    position="-${width} 0 -${sidedepth}"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 -90 0"
                    position="-${width} 0 ${sidedepth}"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 -90 0"
                    position="-${width} ${height} 0"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    rotation="0 -90 0"
                    position="-${width} -${height} 0"></a-entity>

      </a-entity>
  </script>

  <script id="one-each-side" type="text/html">
      <a-entity>
          <!-- Forward-->
          <a-entity template="src:#simple-box"
                    data-basewidth="12"
                    rotation="0 180 0"
                    data-boxdepth="${boxdepth}"
                    position="0 0 -${depth}"></a-entity>

          <!-- Right -->
          <a-entity template="src:#simple-box"
                    data-basewidth="12"
                    rotation="0 90 0"
                    data-boxdepth="${boxdepth}"
                    position="${width} 0 0"></a-entity>

          <!-- Backward -->
          <a-entity template="src:#simple-box"
                    data-basewidth="12"
                    data-boxdepth="${boxdepth}"
                    position="0 0 ${depth}"></a-entity>


          <!-- Left -->
          <a-entity template="src:#simple-box"
                    data-basewidth="12"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} 0 0"></a-entity>


      </a-entity>
  </script>

  <script id="three-left-right" type="text/html">
      <a-entity>

          <!-- Right -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 90 0"
                    data-boxdepth="${boxdepth}"
                    position="${width} ${height} 0"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 90 0"
                    data-boxdepth="${boxdepth}"
                    position="${width} 0 0"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 90 0"
                    data-boxdepth="${boxdepth}"
                    position="${width} -${height} 0"></a-entity>

          <!-- Left -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} -${height} 0"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} 0 0"></a-entity>
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} ${height} 0"></a-entity>

      </a-entity>
  </script>

  <script id="four-big" type="text/html">
      <a-entity>
          <!-- Forward-->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 180 0"
                    data-boxdepth="${boxdepth}"
                    position="0 0 -${depth}"></a-entity>

          <!-- Backward -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    data-boxdepth="${boxdepth}"
                    position="0 0 ${depth}"></a-entity>

          <!-- Right -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 90 0"
                    data-boxdepth="${boxdepth}"
                    position="${width} 0 0"></a-entity>


          <!-- Left -->
          <a-entity template="src:#simple-box"
                    data-basewidth="6"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} 0 0"></a-entity>


      </a-entity>
  </script>

  <script id="two-big-forward-left" type="text/html">
      <a-entity>
          <!-- Forward-->
          <a-entity template="src:#simple-box"
                    data-basewidth="12"
                    rotation="0 180 0"
                    data-boxdepth="${boxdepth}"
                    position="0 0 -${depth}"></a-entity>

          <!-- Left -->
          <a-entity template="src:#simple-box"
                    data-basewidth="12"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} 0 0"></a-entity>

      </a-entity>
  </script>

  <script id="two-big-right-left" type="text/html">
      <a-entity>
          <!-- Right-->
          <a-entity template="src:#simple-box"
                    data-basewidth="16"
                    rotation="0 90 0"
                    data-boxdepth="${boxdepth}"
                    position="${width} 0 0"></a-entity>

          <!-- Left-->
          <a-entity template="src:#simple-box"
                    data-basewidth="16"
                    rotation="0 -90 0"
                    data-boxdepth="${boxdepth}"
                    position="-${width} 0 0"></a-entity>
      </a-entity>
  </script>

  <script id="two-bigger" type="text/html">
      <a-entity>
          <!-- Forward-->
          <a-entity template="src:#simple-box"
                    data-basewidth="10"
                    rotation="0 180 0"
                    data-boxdepth="${boxdepth}"
                    position="0 0 -${depth}"></a-entity>

          <!-- Backward -->
          <a-entity template="src:#simple-box"
                    data-basewidth="10"
                    data-boxdepth="${boxdepth}"
                    position="0 0 ${depth}"></a-entity>

      </a-entity>
  </script>

  <script id="simple-box" type="text/html">
      <a-entity geometry="primitive:box" simple-box visible="false" class="link" data-basewidth="${basewidth}" data-boxdepth="${boxdepth}"></a-entity>
  </script>

  </body>
</html>
